{% extends "base.html" %}

{% block title %}Создать аккаунт{% endblock %}

{% block content %}
<div id='log'>
    <h2>Создать аккаунт</h2>
    {% if section == "invlogin" %}
        <h3>Ошибка регистрации, пожалуйста, введите корректные данные</h3>
    {% endif %}
    <form action="." method="post">
        {{ user_form.as_p }}
        {% csrf_token %}
        <input type="submit" id='logb' value="Создать аккаунт">
    </form>
</div>
<script>
document.querySelectorAll('.helptext').forEach(e => e.remove());
</script>
{% endblock %}