{% extends "base.html" %}

{% block title %}VK - FLATMATE{% endblock %}

{% block content %}
<!-- 
<script type="text/javascript" src="https://vk.com/js/api/openapi.js?169"></script>
<div class="VKSoci">
    VK Widget 
    <div id="vk_groups"></div>
    <script type="text/javascript">
    VK.Widgets.Group("vk_groups", {mode: 3,width:'auto'}, 206216749);
    </script>
</div>
-->
<div id='4p' class="VKPost">
    <div id="vk_post_-206216749_19"></div>
<script type="text/javascript">
    (function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "https://vk.com/js/api/openapi.js?169"; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'vk_openapi_js'));
    (function() {
            if (!window.VK || !VK.Widgets || !VK.Widgets.Post || !VK.Widgets.Post('vk_post_-206216749_19', -206216749, 19, 'RCq_U3IYLDILsxWc2IP9Zh71lD0g')) setTimeout(arguments.callee, 50);
        }());
    </script>
</div>
<div id='3p' class="VKPost">
    <div id="vk_post_-206216749_17"></div>
    <script type="text/javascript">
        (function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "https://vk.com/js/api/openapi.js?169"; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'vk_openapi_js'));
        (function() {
            if (!window.VK || !VK.Widgets || !VK.Widgets.Post || !VK.Widgets.Post('vk_post_-206216749_17', -206216749, 17, 'SteO_l_SXqBzAiSpPkadqcEE5hNM')) setTimeout(arguments.callee, 50);
        }());
    </script>
</div>
<div id='2p' class="VKPost">
    <div id="vk_post_-206216749_15"></div>
    <script type="text/javascript">
        (function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "https://vk.com/js/api/openapi.js?169"; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'vk_openapi_js'));
        (function() {
            if (!window.VK || !VK.Widgets || !VK.Widgets.Post || !VK.Widgets.Post('vk_post_-206216749_15', -206216749, 15, 'cZvi9VXkhjcx92n5TjQS2pHoV3PW')) setTimeout(arguments.callee, 50);
        }());
    </script>
</div>
<div id='1p' class="VKPost">
    <div id="vk_post_-206216749_10"></div>
    <script type="text/javascript">
        (function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "https://vk.com/js/api/openapi.js?169"; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'vk_openapi_js'));
        (function() {
            if (!window.VK || !VK.Widgets || !VK.Widgets.Post || !VK.Widgets.Post('vk_post_-206216749_10', -206216749, 10, 'KRll7vCKU4PC-wAonxAPe-2qac-m')) setTimeout(arguments.callee, 50);
        }());
    </script>
</div>
<div id='0p' class="VKPost">
    <div id="vk_post_-206216749_6"></div>
    <script type="text/javascript">
        (function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "https://vk.com/js/api/openapi.js?169"; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'vk_openapi_js'));
        (function() {
            if (!window.VK || !VK.Widgets || !VK.Widgets.Post || !VK.Widgets.Post('vk_post_-206216749_6', -206216749, 6, 'nL76s8iawx9aKvij1QRoMmALK-qJ')) setTimeout(arguments.callee, 50);
        }());
    </script>
</div>

{% endblock %}