{% extends "base.html" %}

{% block title %}VK - FLATMATE{% endblock %}

{% block content %}
<!-- 
<script type="text/javascript" src="https://vk.com/js/api/openapi.js?169"></script>
<div class="VKSoci">
    VK Widget 
    <div id="vk_groups"></div>
    <script type="text/javascript">
    VK.Widgets.Group("vk_groups", {mode: 3,width:'auto'}, 206216749);
    </script>
</div>
-->
<div class="VKPost">
    <script type="text/javascript" src="https://vk.com/js/api/openapi.js?169"></script>

    <!-- VK Widget -->
    <div id="vk_groups"></div>
    <script type="text/javascript">
    VK.Widgets.Group("vk_groups", {mode: 4, no_cover: 1, width:'auto', height: "600"}, 206216749);
    </script>
</div>

{% endblock %}