{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta name="google-site-verification" content="DwPWLQUj7SiIwD3q-7rHanm72XOwHGmbxeRmqDbC-MM" />
    <meta name="yandex-verification" content="ec301fdb48ab52fe" />
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" sizes="any" href="{% static 'flmate/favicon.svg' %}" type="image/svg+xml">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
</head>
    <header>
        <a id='logo' href="{% url 'index' %}">flatmate</a>
    </header>
        <ul class="mainmenu">
            {% if request.user.is_authenticated %}
                <li {% if section == "edit" %} class="selected" {% endif %}>
                    <a href="{% url 'edit' %}">Профиль</a>
                </li>
                <li {% if section == "dialogs" %} class="selected" {% endif %}>
                    <a href="{% url 'dialogs' %}">Соседи</a>
                </li>
                <li >
                    <a href="{% url 'password_change' %}">Сменить пароль</a>
                </li>
                <li>
                    <a id='mainbut' href="{% url 'logout' %}">Выйти</a>
                </li>
        {% else %}
                <li>
                    <a href="{% url 'password_reset' %}">Забыли пароль?</a>
                </li>
                <li {% if section == "login" or section == "invlogin" %} class="selected" {% endif %}>
                    <a href="{% url 'login' %}">Войти</a>
                </li>
                <li {% if section == "reg" or section == "wrongreg" %} class="selected" {% endif %}>
                    <a id='mainbut' href="{% url 'register' %}">Регистрация </a>
                </li>
        {% endif %}
        </ul>
    
    <body id='mainpage'>
            {% block content %}
            {% endblock %}
            <script>
                const windW = window.innerWidth
                const windH = window.innerHeight
                var fileref=document.createElement("link")
                fileref.setAttribute("rel", "stylesheet")
                fileref.setAttribute("type", "text/css")
                if (windW < windH){
                    fileref.setAttribute("href", "{% static 'flmate/mobile.css' %}")
                    if(document.getElementById('mainImage'))
                    {
                        document.getElementById('mainImage').src="{% static 'flmate/mainMob.svg' %}"
                    }
                }
                else{
                    fileref.setAttribute("href", "{% static 'flmate/style.css' %}")
                    if(document.getElementById('mainImage'))
                    {
                    document.getElementById('mainImage').src="{% static 'flmate/main.svg' %}"}
                    }
                
                document.getElementsByTagName("head")[0].appendChild(fileref)
            </script>
    </body>
</html>
