{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta name="google-site-verification" content="DwPWLQUj7SiIwD3q-7rHanm72XOwHGmbxeRmqDbC-MM" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="yandex-verification" content="ec301fdb48ab52fe" />
    <meta name="description" content="Мы находим соседей. Учитываем вашу совместимость, материальное положение и локацию."/>
    <meta name="keywords" content="Найти соседа, поиск соседей, как найти соседа по квартире, flatmate,flatm8,roommate,room8"/>
    <meta name="Copyright" content="Чечков Данил">
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" sizes="any" href="{% static 'flmate/favicon.svg' %}" type="image/svg+xml">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <!--Css ondemand-->
    <script>
        const windW = window.innerWidth
        const windH = window.innerHeight
        var fileref=document.createElement("link")
        fileref.setAttribute("rel", "stylesheet")
        fileref.setAttribute("type", "text/css")
        if (windW < windH){
            fileref.setAttribute("href", "{% static 'flmate/mobile.css' %}")}
        else{
            fileref.setAttribute("href", "{% static 'flmate/style.css' %}")}
        
        document.getElementsByTagName("head")[0].appendChild(fileref)
    </script>
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
        (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
        m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
    
        ym(83709961, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true
        });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/83709961" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZG1M2PK7NY"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-ZG1M2PK7NY');
    </script>
    <!--Google Analytics -->
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-201334982-1">
</script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-201334982-1');
</script>
</head>
    <header>
        <a id='vklink' href="https://vk.com/flatm8"><img title='Перейти в ВКонтакте' src="{% static 'flmate/vkHOME.svg' %}"></a>
        <a id='logo' href="{% url 'index' %}">flatmate</a>
    </header>
        <ul class="mainmenu">
            {% if request.user.is_authenticated %}
                <li {% if section == "edit" %} class="selected" {% endif %}>
                    <a href="{% url 'edit' %}">Профиль</a>
                </li>
                <li {% if section == "dialogs" %} class="selected" {% endif %}>
                    <a href="{% url 'dialogs' %}">Соседи</a>
                </li>
                <li >
                    <a href="{% url 'password_change' %}">Сменить пароль</a>
                </li>
                <li>
                    <a id='mainbut' href="{% url 'logout' %}">Выйти</a>
                </li>
        {% else %}
                <li>
                    <a href="{% url 'password_reset' %}">Забыли пароль?</a>
                </li>
                <li {% if section == "login" or section == "invlogin" %} class="selected" {% endif %}>
                    <a href="{% url 'login' %}">Войти</a>
                </li>
                <li {% if section == "reg" or section == "wrongreg" %} class="selected" {% endif %}>
                    <a id='mainbut' href="{% url 'register' %}">Регистрация </a>
                </li>
        {% endif %}
        </ul>
    
    <body id='mainpage'>
            {% block content %}
            {% endblock %}
    </body>
</html>
